.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #ddd;
}

pw-image-viewer {}

.pw-image-viewer-title {}

.pw-image-viewer-content {
    margin: 0 !important;
    padding: 0 !important;
}

mat-dialog-content.pw-image-viewer-content {
    display: flex;
    flex-direction: column;
    max-height: none;
}

.pw-image-viewer-content>img {
    max-width: 100%;
    max-height: 65vh;
}

.pw-image-viewer-actions {}

mat-dialog-actions.pw-image-viewer-actions {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    border-top: none;
    width: 100%;
    justify-content: end;
}

.pw-image-viewer-close {
    background-color: rgba(255, 255, 255, 0.5);
    transition: all .2s;
}

.pw-image-viewer-close:focus,
.pw-image-viewer-close:hover {
    background-color: rgba(255, 255, 255, 0.7);
}