.vscode
PersonalWebsiteV2.code-workspace

bin/

*.test

**/experimental/
**/tmp/

**/admin/

/identity/**/internal/authentication/

/api-clients/emailnotifier/
/api-clients/internal/

/cdn/
/config-storage/
/email-notifier/
/web/dist/
/web/website/src/envs/
/web/website/src/assets/
/website/

/db/postgres/identity/**/private/

/docs/
**/_docs/

/setup/

/build

/node_modules/
package-lock.json

/.angular/
