.vscode
PersonalWebsiteV2.code-workspace

bin/

*.test

**/experimental/
**/tmp/

**/admin/

/identity/**/authentication/
/identity/**/authorization/

/api-clients/emailnotifier/
/api-clients/identity/
/api-clients/internal/

/cdn/
/config-storage/
/email-notifier/
/web/
/website/

/docs/
**/_docs/

/setup/

/build
