<div class="pw-content-body">
    <section class="pw-page-row">
        <div class="pw-page-row-inner">
            <div class="pw-page-row-group">
                <div class="pw-page-row-item">
                    <div class="pw-page-row-item-body">
                        <pw-dot-image></pw-dot-image>
                    </div>
                </div>
                <div class="pw-page-row-item">
                    <div class="pw-page-row-item-header">
                        <h3></h3>
                    </div>
                    <div class="pw-page-row-item-body"></div>
                </div>
            </div>
        </div>
    </section>
</div>