.pw-about-grid {
    display: grid;
    grid-template-columns: auto minmax(30%, auto);
    grid-template-rows: auto auto auto auto 1fr auto;
}

.pw-about-grid-item-1 {
    grid-column: 1;
    grid-row: 1 / span 5;
}

.pw-about-grid-item-2 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.pw-about-grid-item-3 {
    grid-column: 2;
    grid-row: 3;
}

.pw-about-grid-item-4 {
    grid-column: 2;
    grid-row: 4;
}

.pw-about-grid-item-5 {
    grid-column: 2;
    grid-row: 5;
}

.pw-about-grid-item-6 {
    grid-column: 1 / span 2;
    grid-row: 6;
}

@media (min-width: 551px) {
    .pw-about-grid-item-1 {
        padding-right: 10px;
    }

    .pw-about-grid-item-2,
    .pw-about-grid-item-3,
    .pw-about-grid-item-4,
    .pw-about-grid-item-5 {
        padding-left: 10px;
    }

    .pw-about-grid-item-6 {
        padding-top: 15px;
    }
}

@media (max-width: 1320px) {
    .pw-about-grid {
        grid-template-rows: auto auto auto 1fr auto auto;
    }

    .pw-about-grid-item-1 {
        grid-column: 1;
        grid-row: 1 / span 4;
    }

    .pw-about-grid-item-5 {
        grid-column: 1 / span 2;
        padding: 15px 0 0;
    }

    .pw-about-grid-item-6 {
        padding-top: 0;
    }
}

@media (max-width: 1025px) {
    .pw-about-grid {
        grid-template-rows: auto auto 1fr auto auto auto;
    }

    .pw-about-grid-item-1 {
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    .pw-about-grid-item-4 {
        grid-column: 1 / span 2;
        padding: 15px 0 0;
    }

    .pw-about-grid-item-5 {
        padding-top: 0;
    }
}

@media (max-width: 660px) {
    .pw-about-grid {
        grid-template-rows: auto 1fr auto auto auto auto;
        align-items: center;
    }

    .pw-about-grid-item-1 {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .pw-about-grid-item-3 {
        grid-column: 1 / span 2;
        padding: 15px 0 0;
    }

    .pw-about-grid-item-4 {
        padding-top: 0;
    }
}

@media (max-width: 550px) {
    .pw-about-grid {
        grid-template-rows: auto auto auto auto 1fr auto;
        align-items: normal;
        justify-items: center;
    }

    .pw-about-grid-item-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .pw-about-grid-item-2 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .pw-about-grid-item-3 {
        padding-top: 0;
    }
}

.pw-about-grid-item-1 img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 5px;
    cursor: zoom-in;
}

.pw-about-grid>div:not(:nth-child(-n+2)) p:first-child {
    margin-top: 0;
}